<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
  version="3.1"
  metadata-complete="true">

	<!-- 에휴1 서블릿. -->
	<servlet>
		<servlet-name>ehu1</servlet-name>
		<servlet-class>main.controller.Ehu1Controller</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ehu1</servlet-name>
		<url-pattern>/ehu1.do</url-pattern>
	</servlet-mapping>
	
	<!-- 에휴2 서블릿. -->
	<servlet>
		<servlet-name>ehu2</servlet-name>
		<servlet-class>main.controller.Ehu2Controller</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ehu2</servlet-name>
		<url-pattern>/ehu2.do</url-pattern>
	</servlet-mapping>
	
	<!-- 소개 서블릿. -->
	<servlet>
		<servlet-name>intro</servlet-name>
		<servlet-class>main.controller.IntroController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>intro</servlet-name>
		<url-pattern>/intro.do</url-pattern>
	</servlet-mapping>
	
	<!-- 메인 서블릿. -->
	<servlet>
		<servlet-name>main</servlet-name>
		<servlet-class>main.controller.MainController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>main</servlet-name>
		<url-pattern>/main.do</url-pattern>
	</servlet-mapping>

</web-app>

